h1 {
  color: white;
  margin: 50px 100px;
  font-family: Mitr;
  font-size: 150px;
}

h2{
  text-align: center;
  color: #706c61;
}

h3{
  text-align: center;
  color: #222831;
}

.top-heading{
padding: 5px;
text-align: center;
background-color: #222831;
color: #ffffff;
font-size: 12px;
}

.links{
  padding: 0 0 1rem 0;
  font-family: Montserrat;
}

.header{
  text-align: center;
  padding: 20px 20px;
  background-color: #eeeeee;
  font-family: mitr;
}

#backdrop{
  background: url(images/pond-water.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.content{
  padding: 16px;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.Logo{
   height: 300px;
   margin-left: 50px;
   margin-top: 30px;
   margin-bottom: 30px;
}

.title-section{
  margin: 0;
  padding: 100px 50px;
}


.collection-section{
  margin: 0;
  padding: 100px 50px;
  background-color: #eeeeee;
}

.bottle-img{
  margin: 16px 16px;
  height: 300px;
}


.pricing-section{
  margin: 0;
  padding: 200px 50px;
  background-color: #a4b494;
}


/* testimonials section */

#testimonials {
  padding: 7% 15%;
  background-color: #eeeeee;
  text-align: center;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pet-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.footer-section{
  margin: 0;
  padding: 50px 20px;
  background-color: #706c61;
  color: #ffffff;
  text-align: center;
}

.socialmedia-icons{
  margin: 20px 10px;
}
